
section .all_card .all_cardleft {
background-color: white;
margin-left: 20px;
width: 304px;
padding: 19px;

    }
  
section .all_card .all_cardleft img {
    width: 268px;
    height: 267px;
    
}
section .all_card .all_cardleft {
    text-align: center;   
    box-shadow: 10px 8px 21px -13px;


}
    section .all_card .all_cardleft .button button {
        background-color: green;
        color: white;
        border: none;
        border-radius: 5px;
}
section .all_card {
    align-items: center;
    justify-content: center;
}
section .all_card .all_cardleft:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
